<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>CSSの練習</title>
    <!--変更した部分は以下の一行！！-->
    <link rel="stylesheet" href="/assets/hello.scss">
  </head>

  <body>

    <div class="center-word">
      <div class="head-">
            NIKO
      </div>
     <img src="assets/top_img.jpg" alt="" class="header">
      <p>いつまでも新鮮なカップルのままでいたい</p>
    </div>
    <div class="box">
      <h1>NIKOの想い</h1>
        <div class="box1">
          <p>彼氏、彼女を作りたい。そんな願いに応えるサービスはこの世にごまんとある。
 では、彼氏、彼女ができた後は？
 いつまでも楽しくパートナーといたい、幸せな体験を 重ねていきたい
そんな想いを後押しするサービスが、もしあったら？<span>NIKO</span>は、彼氏や彼女との体験を記録で終わらない、パートナー との幸せな時間を創出するサービス。
でも、どこでも、<span>NIKO</span>はあなたの大切な人とのより良い時間を画面の向こう側へお届けします</p>
        </div>

        <div class="box_container">
          <div class="box2">

          </div>
          <div class="box2">

          </div>
          <div class="box2">

          </div>
        </div>
        <h3><span>NIKO</span>を大切な人と楽しんでポイントを貯めよう</h3>
        <h3>貯めた<span>NIKO</span>ポイントはいろいろなことに使うことができるんです</h3>
        <h1>それは・・・！</h1>
        <div class="box_container">
          <div class="box2">

          </div>
          <div class="box2">

          </div>
          <div class="box2">

          </div>
        </div>
    </div>

  </body>
</html>
