<div id="box1">
  <div class="eyeBox">
    <div class="eye"></div>
    <div class="double"></div>
    <div class="highlight"></div>
    <div class="eyeball"></div>
    <div class="eyeball2"></div>
    <div class="highlight2"></div>
  </div>
  <div class="eyeBox">
    <div class="eye"></div>
    <div class="double"></div>
    <div class="highlight"></div>
    <div class="eyeball"></div>
    <div class="eyeball2"></div>
    <div class="highlight2"></div>
  </div>
  <div class="nose"></div>
</div>
