<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>CSSの練習</title>
    <!--変更した部分は以下の一行！！-->
    <link rel="stylesheet" href="/assets/hello.scss">
  </head>

  <body>

    <div class="center-word">
      <div class="head-">
            NIKO
      </div>
     <img src="assets/top_img.jpg" alt="" class="header">
      <p>いつまでも新鮮なカップルのままでいたい</p>
    </div>
    <div class="box">
      <h1>NIKOの想い</h1>
        <div class="box1">
          <p>彼氏、彼女を作りたい。そんな願いに応えるサービスはこの世にごまんとある。
 では、彼氏、彼女ができた後は？
 いつまでも楽しくパートナーといたい、幸せな体験を 重ねていきたい
そんな想いを後押しするサービスが、もしあったら？<span>NIKO</span>は、彼氏や彼女との体験を記録で終わらない、パートナー との幸せな時間を創出するサービス。
でも、どこでも、<span>NIKO</span>はあなたの大切な人とのより良い時間を画面の向こう側へお届けします</p>
        </div>

        <div class="box_container">
          <div class="box2">
            <img src="assets/チャット.png" alt="">
            <img src="assets/恋愛.png" alt="" class="rennai">
            <p>チャットをする</p>
          </div>
          <div class="box2">
            <img src="assets/ハート.png" alt="" class="heart">
            <img src="assets/座る.png" alt="" class="sit">
            <br>
            <p>デートをする</p>
          </div>
          <div class="box2">
            <img src="assets/tiktok.png" alt="" width="30%" class="sns">
            <img src="assets/twitter.png" alt="" width="40%"class="sns2">
            <img src="assets/LINE_APP.png" alt=""width="30%"class="sns3">
            <br><br>
            <p style="margin-top: 8%;">SNSで発信</p>
          </div>
        </div>
        <h3>NIKO使って大切な人と一緒にポイントを貯めよう！</h3><br>
        <h3>NIKOは毎日の体験を新鮮にするためのコンテンツをたくさん揃えています</h3>
        <div class="box_container">
          <div class="box2">

          </div>
          <div class="box2">

          </div>
          <div class="box2">

          </div>
          <h3>貯めた<span>NIKO</span>ポイントはいろいろなことに使うことができるんです</h3>
          <h1>それは・・・！</h1>
        </div>
        <h1>Coming Soon....</h1>
    </div>

  </body>
</html>
