/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   padding: 100px;
   background: #FFCB05;
   cursor: pointer;
 }
 #box1 {
   position: relative;
   width: 800px;
   height: 300px;
   margin: 0 auto;
   padding: 100px 0 0;
   border-radius: 130px 130px 30px 100px;
   background: #FFE5AC;
 }
 .eyeBox {
   position: relative;
   float: left;
   width: 200px;
   height: 110px;
   margin: 0 100px;
 }
 .eye,.double {
   position : absolute;
   top: 0;
   width: 160px;
   height: 90px;
   border: solid 2px #555;
   border-left: solid 7px #555;
   border-top: solid 18px #555;
   border-bottom: 5px;
   border-radius: 130px 130px 90px 90px / 120px 120px 50px 50px;
   background: #d8d8d8;
   transition: .3s;
 }
 .double {
   top: -13px;
   width: 170px;
   border: transparent;
   border-top: solid 6px #666;
   border-radius: 150px 150px 90px 90px / 120px 120px 50px 50px;
   background: none;
 }
 .highlight {
   position : absolute;
   top: 38px;
   left: 28px;
   width: 135px;
   height: 65px;
   box-shadow: -5px -5px 5px 2px #F2F2F2;
   border-radius: 200px 130px 150px 90px / 120px 120px 70px 50px;
   background: #fff;
   transition: .3s;
 }
 .eyeball {
   position : absolute;
   top: 18px;
   left: 40px;
   width: 95px;
   height: 90px;
   box-shadow: -2px 2px 2px 2px #d8d8d8;
   border-radius: 50%;
   border: solid 3px #00C0CC;
   box-sizing: border-box;
   background: #00CCD9;
   transition: .3s;
 }
 .eyeball2 {
   position : absolute;
   top: 37px;
   left: 65px;
   width: 45px;
   height: 45px;
   box-shadow: 0 -10px 4px 10px rgba(0,0,0,0.15);
   border-radius: 50%;
   background: #555;
   transition: .3s;
 }
 .highlight2 {
   position : absolute;
   top: 70px;
   left: 102px;
   width: 15px;
   height: 13px;
   box-shadow: 7px 0 2px 3px #d8d8d8;
   border-radius: 50%;
   background: #fff;
   transition: .3s;
 }
 .eyeBox:hover > .eye {
   top: 90px;
   width: 160px;
   height: 20px;
   border: solid 2px #555;
   border-bottom: solid 18px #555;
   border-top: 5px;
   border-radius: 0px 0px 100px 100px / 0px 0px 50px 50px;
   background: none;
 }
 .eyeBox:hover > .double {
   top: 60px;
   width: 160px;
   height: 20px;
   border-top: solid 5px #777;
   border-bottom: 5px;
 }
 .eyeBox:hover > .highlight,
 .eyeBox:hover > .eyeball,
 .eyeBox:hover > .eyeball2,
 .eyeBox:hover > .highlight2 {
   top: 115px;
   height: 0;
   opacity: 0;
   visibility: collapse;
 }
 .nose {
   position : absolute;
   bottom: 100px;
   left: 300px;
   width: 100px;
   height: 50px;
   box-shadow: 3px -5px 4px 0 rgba(0,0,0,0.1);
   border-radius: 50px 50px 20px 20px;
   background: #FFCF9E;
 }
